<style>
  #name, #lastName{ text-transform: uppercase; }
</style>
<!-- Modal -->
<div class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Crear Cliente
        </h5>
        <button type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form class="user needs-validation" novalidate>
          {# ------------ Fila 1 ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="id" class="form-label">Cédula</label>
                <input type="text"
                  class="form-control number"
                  id="id"
                  name="cedula"
                  maxlength="10"
                  required />
              </div>
              <div class="col-md-6">
                <label for="name">Nombre</label>
                <input type="text"
                  class="form-control inputText"
                  id="name"
                  name="nombre"
                  onkeyup="javascript:this.value=this.value.toUpperCase()"
                  required />
              </div>
            </div>
          </div>

          {# ------------ Fila 2 ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="lastName">Apellido</label>
                <input type="text"
                  class="form-control inputText"
                  id="lastName"
                  name="apellido"
                  onkeyup="javascript:this.value=this.value.toUpperCase()"
                  required />
              </div>
              <div class="col-md-6">
                <label for="civil">Estado Civil</label>
                <select class="form-select"
                  required
                  id="civil"
                  name="estadoCivil"
                  aria-label="Default select example">
                  <option selected></option>
                  <option value="Soltero">
                    Soltero
                  </option>
                  <option value="Casado">
                    Casado/a
                  </option>
                  <option value="Divorciado">
                    Divorciado
                  </option>
                  <option value="Unión Libre">
                    Unión Libre
                  </option>
                </select>
              </div>
            </div>
          </div>

          {# ------------ Fila 3 ------------------ #}
          {{ include('client/modal/conyugueCliente.html.twig') }}

          {# ------------ Fila 4 ------------------ #}

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="mobil">Celular</label>
                <input type="text"
                  class="form-control number"
                  id="mobil"
                  name="celular"
                  maxlength="10"
                  required />
              </div>
              <div class="col-md-6">
                <label for="phone">Teléfono</label>
                <input type="text"
                  class="form-control number"
                  id="phone"
                  name="telefono"
                  maxlength="7"
                  required />
              </div>
            </div>
          </div>

          {# ------------ Fila 5 ------------------ #}
          <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text"
              class="form-control"
              id="address"
              name="direccion"
              required />
          </div>
          <div class="form-group">
            <label for="email">Correo Electronico</label>
            <input type="text"
              class="form-control"
              id="email"
              name="correo"
              required />
          </div>
          <div class="form-group estado">
            <label for="email">Estado</label>
            <select class="form-select"
              required
              id="estatus"
              name="estado"
              aria-label="Default select example">
              <option value="Inactivo">
                Inactivo
              </option>
              <option value="Activo">
                Activo
              </option>
            </select>
          </div>
          {# ------------ Fila 6 Buttons ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary data">
                  Crear cliente
                </button>
              </div>
              <div class="col-md-6">
                <button type="button"
                  class="btn btn-secondary cls"
                  data-dismiss="modal">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const select = document.querySelector('.form-select'); const div =
  document.querySelector('.conyugue'), cedulaConyugue =
  document.querySelector('#idConyugue');

  div.style.display = 'none';

  select.addEventListener("change", () => { const estadoCivil = select.value;
  if(estadoCivil == "Casado"){ div.style.display = 'block'; }else{
  div.style.display = 'none'; cedulaConyugue.value = null;

  } });
</script>
