 <div class="form-group conyugue">
    <div class="row">
      <div class="col-md-6">
        <label for="name">Cédula Conyugue</label>
        <input type="text"
          class="form-control number"
          id="idConyugue"
          name="conyugueCedula"
          maxlength="10" />
      </div>
      <div class="col-md-6">
        <label for="name">Nombre Conyugue</label>
        <input type="text"
          class="form-control inputText"
          id="nameConyugue"
          name="conyugueNombre" />
      </div>
    </div>
  </div>