<footer class="sticky-footer" style="background: #eceef3">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>
        <b>Copyright &copy
        <script>
          document.write("  " + new Date().getFullYear());
        </script>
      </span>
    </div>
  </div>
</footer>
