<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
 
        {% block stylesheets %}
          
        {% endblock %}

        {% block javascripts %}
            {% endblock %}
           
    </head>
    <body>
        {% block body %}{% endblock %}

        {{
            render(controller('App\\Controller\\ReportesController::getTramite'))
        }}

        
    </body>
</html>
