
<select class="form-control" name="proceso">
  {% for key, proceso in procesos %}
  {# {{ dump(procesos ) }} #}
    <option value={{ proceso.id }}> {{ proceso.nombreProceso }}</option>
  {% endfor %}
</select>

