{% if (datos|length) > 0 %}
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        DataTables Example
      </h6>
    </div>
    <button type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      Crear
    </button>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
          <thead>
            <tr>
              {% for key, campo in campos %}
                <th>
                  {{ campo }}
                </th>
              {% endfor %}
              <th>
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            {% for key, fila in datos %}
              <tr>
                {% for key, data in fila %}
                  <td>
                    {{ data }}
                  </td>
                {% endfor %}
                <td colspan="2">
                  <div class="dropdown">
                    <button class="btn btn-primary"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Eliminar</a>
                      <a class="dropdown-item" href="#">Editar</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% else %}
  <div style="text-align: center">
    <img src="./img/agregar.png " />
    <h3 style="color: #172B4D, font-size: 20px">
      Create User
    </h3>
    <!-- Button trigger modal -->
    <button type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      Crear
    </button>
  </div>
{% endif %}
