<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Asignar
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form
					class="user">
					{# ------------ Fila 1 ------------------ #}
					<div class="form-group">
						<label for="exampleFormControlInput1">Cliente</label>
						{{
              render(
                controller(
                  'App\\Controller\\ClienteTramiteController::getCliente'
                )
              )
            }}
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Tipo de trámite</label>
						{{
              render(
                controller(
                  'App\\Controller\\ClienteTramiteController::getTipoTramite'
                )
              )
            }}

					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Tipo de asignacion</label>
						  	<label class="switch">
  <input type="checkbox" />
  <span class="toggle"></span>
</label>
			
					</div>


					{# ------------ Fila 5 Buttons ------------------ #}
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary data" data-bs-dismiss="modal">
									Crear
								</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
									Cerrar
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			{# <div class="modal-footer">
			        
			      </div> #}
		</div>
	</div>
</div>

{# <script>
	let button = document.querySelector('.data');
button.addEventListener("click", () => {
setTimeout(() => {
location.reload(true);
}, 1500);
});
</script> #}
