<!-- Modal -->
<div class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Crear Usuario
        </h5>
        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close">

        </button>
      </div>
      <div class="modal-body">
        <form class="user needs-validation" novalidate>
          {# ------------ Fila 1 ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="id" class="form-label">Cédula</label>
                <input type="text"
                  class="form-control"
                  id="id"
                  name="cedula"
                  maxlength="10"
                  required />
              </div>
              <div class="col-md-6">
                <label for="name">Nombre</label>
                <input type="text"
                  class="form-control"
                  id="name"
                  name="nombre"
                  required />
              </div>
            </div>
          </div>

          {# ------------ Fila 2 ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="id" class="form-label">Apellido</label>
                <input type="text"
                  class="form-control"
                  id="lastName"
                  name="apellido"
                  maxlength="10"
                  required />
              </div>
              <div class="col-md-6">
                <label for="email">Correo Electronico</label>
                <input type="text"
                  class="form-control"
                  id="email"
                  name="correo"
                  required />
              </div>
            </div>    
          </div>
          {# ------------ Fila 3 Buttons ------------------ #}
          <div class="form-group estado">
             <div class="row">
              <div class="col-md-6">
                <label for="id" class="form-label">Estado</label>
                  <select class="form-select"
                  required
                  id="estatus"
                  name="estado"
                  aria-label="Default select example">
                  <option value="Inactivo">
                    Inactivo
                  </option>
                  <option value="Activo">
                    Activo
                  </option>
                </select>
              </div>      
            </div>            
          </div>

          {# ------------ Fila 4 Buttons ------------------ #}
           <div class="form-group">
             <div class="row">
              <div class="col-md-12">
                <label for="id" class="form-label">Contraseña</label>
                <input type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  maxlength="30"
                  required />
              </div>      
            </div>            
          </div>
           
          {# ------------ Fila 5 Buttons ------------------ #}
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary data">
                  Crear cliente
                </button>
              </div>
              <div class="col-md-6">
                <button type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      {# <div class="modal-footer">
        
      </div> #}
    </div>
  </div>
</div>
